body { background: #eee; }

.card { box-shadow: 0 20px 27px 0 rgba(0 0 0 5); }

.card {
    background-clip: border-box;
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    word-wrap: break-word;
}

.text-reset {
    --bs-text-opacity: 1;
    color: inherit !important;
}

a {
    color: #5465ff;
    text-decoration: none;
}