@media (min-width: 1025px) {
    .h-custom { height: 100vh !important; }
}

.number-input input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;   
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; }

.number-input button {
    -webkit-appearance: none;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-content: center;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    content: '';
    display: inline-block;
    height: 2px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after { transform: translate(-50%, -50%) rotate(90deg); }

.number-input input[type=number] { text-align: center; }

.number-input.number-input {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 10rem;
}

.number-input.number-input button {
    height: .7rem;
    width: 2.6rem;
}

.number-input.number-input button.minus { padding-left: 10px; }

.number-input.number-input button:before,
.number-input.number-input button:after {
    background-color: #495057;
    width: .7rem;
}

.number-input.number-input input[type=number] {
    border: 1px solid #ced4da;
    border-width: 0 1px;
    color: #495057;
    font-size: 1rem;
    height: 2rem;
    max-width: 4rem;
    padding: .5rem;
}

@media not all and (min-resolution: .001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {

        .number-input.def-number-input.safari_only button:before,
        .number-input.def-number-input.safari_only button:after { margin-top: -.3rem; }
    }
}

.shopping-cart .def-number-input.number-input { border: none; }

.shopping-cart .def-number-input.number-input input[type=number] {
    border: none;
    max-width: 2rem;
}

.shopping-cart .def-number-input.number-input input[type=number].black-text,
.shopping-cart .def-number-input.number-input input.btn.btn-link[type=number],
.shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:hover,
.shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:focus { color: #212529 !important; }

.shopping-cart .def-number-input.number-input button { width: 1rem; }

.shopping-cart .def-number-input.number-input button:before,
.shopping-cart .def-number-input.number-input button:after { width: .5rem; }

.shopping-cart .def-number-input.number-input button.minus:before,
.shopping-cart .def-number-input.number-input button.minus:after { background-color: #9e9e9e; }

.shopping-cart .def-number-input.number-input button.plus:before,
.shopping-cart .def-number-input.number-input button.plus:after { background-color: #4285f4; }